{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<p>Welcome to mitcruft.org. We provide Kerberos authentication and related services for former (and current) Athena account holders.</p>
<p>To register your current Athena account, you have a few options:</p>
<ul>
<li><b>Via remctl:</b> From any computer with Kerberos tickets, run <code>remctl mitcruft.org register account</code>. <a href="help/remctl">More info</a></li>
<li><b>Via HTTP authentication:</b> From any computer with Kerberos tickets, <a href="spnego">authenticate to our server</a>. This might require <a href="help/spnego">additional browser configuration</a>.</li>
<li><b>Via MIT certificates:</b> We accept current certificates, and certificates expired up to two years. <a href="certs">Log in now</a></li>
<li><b>Via your non-MIT email address:</b> If you were forwarding mail elsewhere, we can <a href="email">send an email to that address</a> with a registration token.</li>
<li><b>Via a password:</b> You can <a href="password">enter a username and password</a> in our online form.</li>
</ul>
{% endblock %}
