{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<p>Welcome to mitcruft.org. We provide Kerberos authentication and related services for former (and current) Athena account holders.</p>
<p>To register your current Athena account, you have a few options:</p>
<ul>
<li><b>Via HTTP authentication:</b> From any computer with Kerberos tickets, <a href="spnego">authenticate to our server</a>. This might require <a href="help/spnego">additional browser configuration</a>.</li>
<li><b>Via remctl:</b> From any computer with Kerberos tickets, run <code>remctl mitcruft.org register</code>. You may need to install <a href="http://www.eyrie.org/~eagle/software/remctl/">the remctl client</a>.</li>
<li><b>Via MIT certificates:</b> Authentication via expired certificates coming soon!</li>
<li><b>Via your non-MIT email address:</b> If you were forwarding mail elsewhere, we can send a token to that address. Also coming soon!</li>
<li><b>Via a password:</b> You can <a href="password">enter a username and password</a> in our online form.</li>
</ul>
<p>This process will give you a token that can be used later to create an account, once the MITCRUFT.ORG realm is operational. Save this token, and keep it secure. For updates on the service, join the <a href="http://mailman.mit.edu/mailman/listinfo/mitcruft-announce">mitcruft-announce</a> mailing list.</p>
{% endblock %}
