<!DOCTYPE html>
<html>
    <head>
        <title>
          mitcruft.org
        </title>
    </head>
    <body>
        <h1>{% block title %}{% endblock %}</h1>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <hr>
        <center><address><small>questions or comments? contact <a href="mailto:geofft@mit.edu">Geoffrey Thomas</a>. source on <a href="https://github.com/geofft/cruftreg">github</a>. not affiliated with MIT, SIPB, its parent companies or subsidiaries.</small></address></center>
    </body>
</html>
