{% extends "layout.html" %}
{% block title %}Password login{% endblock %}
{% block content %}
{% if error %}
<p><font color="red">{{ error }}</font></p>
{% endif %}
<p>Please enter your Athena username and password.</p>
<form method="POST">
<table>
<tr><td><label for="user">Username:</label></td><td><input type="text" name="user"></td></tr>
<tr><td><label for="password">Password:</label></td><td><input type="password" name="password" autocomplete="off"></td></tr>
<tr><td></td><td><input type="submit" value="Log in"></td></tr>
</table>
<p>Your username and password are not saved, and are only used to provide you a one-time authentication token.</p>
<p>We support other registration methods that do not require sending your username and password over the network. See <a href=".">the home page</a> to try one of them.</p>
{% endblock %}
